<ul>
  <% @table_header.each do |header| %>
    <li><%= header %></li>
  <% end %>
</ul>
  <% @courses.each do |course| %>
    <%= f.select(:lol, course.all.collect {|c| [ c.crn ] }, {:multiple=>true, :name => "courses"}) %>
  <% end %>
