
<div class="sched_build row">
  <div class="sched_table col-md-8">
    <%= render "schedule_builder/week" %>
  </div>
  <div class="sched_menu col-md-4">
    <%= render "schedule_builder/week_form" %>
  </div>
</div>
<!-- <script>

  var earliest = <%= @earliest %>;
  var latest = <%= @latest %>;

  $("tr").each(function() {
    var hideTime = $(this).attr('id');
    if(hideTime < earliest || hideTime > latest) {
      $(this).hide();
    }
  });

</script> -->

<!-- TODO: the database entries that don't have crn, course, sect, etc need fixin
     TODO: fix the schedule table (hidden crn td)
     TODO: fix the calander table (better layout, hide unused time within limits) -->
