<div class="sched_build row">
  <% if @init %>
  <div class="sched_table col-md-8">
    <%= render "schedule_builder/week" %>
  </div>
  <% end %>

  <div class="sched_menu col-md-4">
    <%= render "schedule_builder/week_form" %>
  </div>
</div>

<script>
  $(function() {
    var earliest = <%= @earliest %>;
    var latest = <%= @latest %>;

    $.each($("div.sched_table>table>tbody>tr"), function(index, tr) {
      var $tr = $(tr);
      var hideTime = parseInt($tr.attr('class'));

      if(hideTime < earliest || hideTime > latest) {
        $tr.hide();
      }
    });
  });
</script>

<!-- TODO: the database entries that don't have crn, course, sect, etc need fixin
TODO: fix the schedule table (hidden crn td)
TODO: fix the calander table (better layout) -->
